%div{:id => 'page', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  %main#content.root-index.news-section
    .grid-row
      .column-half
        %ul.breadcrumb
          %li
            = link_to( 'Home', "/" )
          %li
            = link_to( 'News', "/news/" )

      .column-half
        .form-group.select-category
          %label{:class => 'form-label', :for => 'select-category'} Categories
          %select{:class => 'form-control', :id => 'select_category', :name => 'select-category'}
            %option{:value => ""}
              \ Select Category
            - @categories.each do |c|
              %option{:value => "/news/category/" + c["slug"]}
                = link_to( c["name"] )
    .grid-row
      .column-two-thirds
        - @posts.each do |p|
          .news-item
            %h2.heading-large
              %hr{:class => 'rule-small'}
              = p["title"]["rendered"]
            .news-item-text
              .post-meta
                - profile = PeopleFinderProfile.from_api(p["author_email"])
                = succeed ', ' do
                  = profile.name || "Unknown"
                = succeed '  GMT, ' do
                  - date = DateTime.parse(p["date"])
                  = date.strftime('%d %B %Y')
                  = date.strftime('@ %I:%M')
                - p["news_category"].each do |cat|
                  = news_cats( cat["name"], cat["slug"] )
            = large_image_tag(p)

          = p["content"]["rendered"].html_safe

          #comments.comments-area
            .posted-comments
              -#%pre
              -#  headers: #{@comments_headers}
              -#%pre
              -#  x-wp-totalpages: #{@comments_headers["x-wp-totalpages"]}
              -#%pre
              -#  x-wp-total: #{@comments_headers["x-wp-total"]}

              %h2.heading-medium
                - if @comments_headers["x-wp-total"].present?
                  - comment_count = Integer(@comments_headers["x-wp-total"])
                  = comments_heading(comment_count)

              - @comments.each do |comment|
                .post-meta
                  = succeed ', ' do
                    %span.comment-name
                      = comment["author_name"]
                  %span.comment-date
                    - date = DateTime.parse(comment["date"])
                    = date.strftime('%d %B %Y')
                    = date.strftime('@ %I:%M')
                = comment["content"]["rendered"].html_safe
                %a.cta-comment-reply
                  Reply
                .comment-replies
                  .post-meta
                    %span.comment-name Angela
                    %span.post-date
                      = precede ', ' do
                        5 Oct 2017 @ 13:25

                  %p
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui accusamus deserunt, nam, tenetur, accusantium numquam molestias mollitia totam voluptas quasi beatae! Recusandae quae, officiis amet delectus iste pariatur dolor rem.

                  %a.cta-comment-reply
                    Reply
                -#= comment
              .leave-comment
                %h2.heading-medium
                  Leave a comment
                %form{class: 'comment-post', id: 'comment_post'}
                  %textarea{class: 'leave-comment-textarea'}
                  %input{type: 'submit', value: 'Submit comment', class: 'button'}
      .column-third.news-category
        %hr{class: 'rule-large'}
        -#%h2.heading-medium
        -#  Related news

