%div{:id => 'topics', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  = render partial: "widgets/zendesk_header"
  %main#content.root-index.content-section
    .grid-row
      .column-full
        %ul.breadcrumb
          %li
            = link_to( 'Home', "/" )

    .grid-row
      .column-two-thirds
        %hr{:class => 'rule-small rule-top'}
        - if @accordion.present?
          - @accordion.each do |page|
            %h2.heading-large
              = page["title"]["rendered"]
            %div
              = page["acf"]["excerpt"].html_safe

        .accordion-controls
          %span.accordion-open-all
            Open all
        .accordion-container

          - if @accordion_theme.present?
            - @accordion_theme.each do |theme|
              .accordion
                %hr{:class => 'rule-small'}
                .accordion-header
                  %h2.heading-medium
                    = theme["name"]
                .accordion-inner
                  - theme_slug = theme['slug']
                  - accordion_topics = AccordionQueries.accordion_topic_query(theme_slug)
                  - if accordion_topics.present?
                    - accordion_topics.each do |topic|
                      %ul.list-style-a
                        %li
                          = link_to( topic["title"]["rendered"], link_topics_top + topic["slug"])

          %hr{:class => 'rule-small rule-top'}
      .column-third.related-content
        %hr{:class => 'rule-large rule-top'}
        %h2.heading-medium
          Tools
        %ul.list-style-a
          %li
            = link_to('Cirrus Office 365', '/')
          %li
            = link_to('Oracle', '/')

= render partial: "widgets/zendesk_footer"
