- content_for :body_classes do
  - 'section-working-at-dit'

- if flash[:notice]
  .zd-confirmation
    %span
      = flash[:notice]

%div{:id => 'topics', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  %main#content.root-index.content-section
    .grid-row
      .column-full
        %ul.breadcrumb
          %li
            = link_to( 'Home', "/" )
          - if @accordion.present?
            - @accordion.each do |bcs|
              - if bcs["breadcrumb"].present?
                - bcs["breadcrumb"].each do |bc|
                  %li
                    = link_to( bc["title"].html_safe, bc["mapped_path"] )

        %hr{:class => 'rule-small rule-top'}

    .grid-row
      .column-two-thirds
        - if @accordion.present?
          - @accordion.each do |page|
            %h2.heading-large
              = @page_title = page["title"]["rendered"].html_safe
            %div
              = page["acf"]["excerpt"].html_safe

        .accordion-controls
          %span.accordion-open-all
            Open all
        .accordion-container
          - if @accordion_theme.present?
            - @accordion_theme.each_with_index do |theme, ix|
              = render partial: "widgets/accordion_theme", locals: { theme: theme, ix: ix }

= render partial: "widgets/zendesk_footer"
