%div{:id => 'topics', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  = render partial: "widgets/zendesk_header"
  %main#content.root-index.content-section
    .grid-row
      .column-full
        = @parent_slug
        = @parent_topics_slug
        %ul.breadcrumb
          %li
            = link_to( 'Home', "/" )

    .grid-row
      .column-two-thirds
        %hr{:class => 'rule-small rule-top'}
        - if @howdois.present?
          - @howdois.each do |h|
            / =h
            %h2.heading-large
              = h["title"]["rendered"]
            %div
              = h["acf"]["excerpt"].html_safe

        .accordion-controls
          %span.accordion-open-all
            Open all
        .accordion-container

          - if @howdois_theme.present?
            - @howdois_theme.each do |t|
              / = t
              .accordion
                %hr{:class => 'rule-small'}
                .accordion-header
                  %h2.heading-medium
                    = t["name"]
                  %div
                    /= t["content"]["rendered"].html_safe
                .accordion-inner
                  - if @howdois_topics.present?
                    - @howdois_topics.each do |t|
                      %ul.list-style-a
                        %li
                          %pre
                            = link_to( t["title"]["rendered"], link_topics_top + t["slug"])

          %hr{:class => 'rule-small rule-top'}
      .column-third.related-content
        %hr{:class => 'rule-large rule-top'}
        %h2.heading-medium
          Tools
        %ul.list-style-a
          %li
            = link_to('Cirrus Office 365', '/')
          %li
            = link_to('Oracle', '/')

= render partial: "widgets/zendesk_footer"
