%div{:id => 'topics', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  %main#content.root-index.content-section
    .grid-row
      .column-full
        %ul.breadcrumb
          %li
            = link_to( 'Home', "/" )
    .grid-row
      .column-full
        %h2.heading-large
          Page heading
        %p
          Lorem ipsum dolor sit amet
    .grid-row
      .column-full
        .accordion-controls
          %span.accordion-open-all
            Open all
        .accordion-container
          .accordion
            %hr{:class => 'rule-small'}
            .accordion-header
              %h2.heading-medium
                Item one
              %p
                Lorem ipsum dolor sit amet.
            .accordion-inner
              .column-third
                %ul.list-style-a
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')

              .column-third
                %ul
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')

              .column-third
                %ul
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')

          .accordion
            %hr{:class => 'rule-small'}
            .accordion-header
              %h2.heading-medium
                Item two
              %p
                Lorem ipsum dolor sit amet.
            .accordion-inner
              .column-third
                %ul.list-style-a
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')

              .column-third
                %ul
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')

              .column-third
                %ul
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')

          .accordion
            %hr{:class => 'rule-small'}
            .accordion-header
              %h2.heading-medium
                Item three
              %p
                Lorem ipsum dolor sit amet.
            .accordion-inner
              .column-third
                %ul.list-style-a
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')

              .column-third
                %ul
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')

              .column-third
                %ul
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')

          .accordion
            %hr{:class => 'rule-small'}
            .accordion-header
              %h2.heading-medium
                Item three
              %p
                Lorem ipsum dolor sit amet.
            .accordion-inner
              .column-third
                %ul.list-style-a
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')

              .column-third
                %ul
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')

              .column-third
                %ul
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')
                  %li
                    = link_to('Lorem ipsum dolor sit amet ', '/')

          %hr{:class => 'rule-small rule-top'}
