%div{:id => 'topics', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  %main#content.root-index.content-section
    .grid-row
      .column-full
        %ul.breadcrumb
          %li
            = link_to( 'Home', "/" )

    .grid-row
      - @howdois.each do |h|
        / = h
      .column-two-thirds
        %hr{:class => 'rule-small rule-top'}
        - if @howdois.present?
          - @howdois.each do |h|
            %h2.heading-large
              = h["title"]["rendered"]
            %p
              = h["acf"]["excerpt"].html_safe
        .accordion-controls
          %span.accordion-open-all
            Open all
        .accordion-container

        - if @howdois_topic.present?
          - @howdois_topic.each do |t|
            .accordion
              %hr{:class => 'rule-small'}
              .accordion-header
                %h2.heading-medium
                  =t["title"]["rendered"]
                %div
                  =t["content"]["rendered"].html_safe
              .accordion-inner
                .column-third
                  %ul.list-style-a
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')

                .column-third
                  %ul.list-style-a
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')

                .column-third
                  %ul.list-style-a
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')
                    %li
                      = link_to('Lorem ipsum dolor sit amet ', '/')



          %hr{:class => 'rule-small rule-top'}
      .column-third.related-content
        %hr{:class => 'rule-large rule-top'}
        %h2.heading-medium
          Tools
        %ul.list-style-a
          %li
            = link_to('Cirrus Office 365', '/')
          %li
            = link_to('Oracle', '/')
