- content_for :body_classes do
  - 'section-working-at-dit'

- if flash[:notice]
  .zd-confirmation
    span
      = flash[:notice]
%div{:id => 'topics', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  %main#content.root-index.content-section
    .grid-row
      .column-full
        %ul.breadcrumb
          %li
            = link_to( 'Home', "/" )
          - if @accordion.present?
            - @accordion.each do |bcs|
              - if bcs["breadcrumb"].present?
                - bcs["breadcrumb"].each do |bc|
                  %li
                    = link_to( bc["title"].html_safe, bc["mapped_path"] )

        %hr{:class => 'rule-small rule-top'}

    .grid-row
      .column-two-thirds
        - if @accordion.present?
          - @accordion.each do |page|
            %h2.heading-large
              = page["title"]["rendered"].html_safe
            %div
              = page["acf"]["excerpt"].html_safe

        .accordion-controls
          %span.accordion-open-all
            Open all
        .accordion-container

          - if @accordion_theme.present?
            - @accordion_theme.each do |theme|
              .accordion
                .accordion-header
                  - theme_slug = theme['slug']
                  %h2.heading-medium
                    = theme["name"]
                  %p
                    - theme_title = AccordionQueries.accordion_theme_title_query(theme_slug)
                    - if theme_title.present?
                      - theme_title.each do |title|
                        = title["acf"]["excerpt"]
                .accordion-inner
                  - accordion_topics = AccordionQueries.accordion_topic_query(theme_slug)
                  - if accordion_topics.present?
                    %ul.list-style-a
                      - accordion_topics.each do |topic|
                        %li
                          = link_to( topic["title"]["rendered"].html_safe, topic["slug"])

= render partial: "widgets/zendesk_footer"
