- content_for :body_classes do
  - 'section-about-us' if request.original_fullpath.start_with?('/about-us')
  - 'section-tools' if request.original_fullpath.start_with?('/tools')
  - 'section-datahub' if request.original_fullpath.start_with?('/tools/data-hub')

%div{:id => 'standard', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  /= render partial: "widgets/zendesk_header"
  %main#content.root-index.standard-section
    .grid-row
      .column-full
        %ul.breadcrumb
          %li
            = link_to( 'Home', "/" )
          - if @topic.present?
            - @topic.each do |bcs|
              - if bcs["breadcrumb"].present?
                - bcs["breadcrumb"].each do |bc|
                  %li
                    = link_to( bc["title"].html_safe, bc["slug"] )

    .grid-row
      .column-full
        %hr{:class => 'rule-small rule-top'}
    .grid-row
      .column-two-thirds
        - if @content.present?
          - @content.each do |p|
            %h2.heading-large
              = p["title"]["rendered"].html_safe
            = p["acf"]["excerpt"]
    .grid-row
      .column-full
        %hr{:class => 'rule-small'}
    .grid-row
      - if @content_children.present?

        - child_count = @content_children.count
        - multiple_of = (child_count / 3) - 1

        - @content_children.each_with_index do |content, index|
          - from = index
          - to = from + multiple_of

          - if (index % 3 === 0)

            - case index
            - when from..to

            .column-third.card
              %h3.heading-small
              - @content_children[from..to].each_with_index do |content_m, index_m|
                %h3
                  - if content_m["acf"]["redirect_url"].present?
                    - link = content_m["acf"]["redirect_url"]["url"]
                    - title = content_m["acf"]["redirect_url"]["title"]
                    - target = content_m["acf"]["redirect_url"]["target"]
                    = link_to( title, link, target: target)
                  - else
                    - link = content_m["link"]
                    - title = content_m["title"]["rendered"].html_safe 
                    = link_to( title, link)
                %p
                  = content_m["acf"]["excerpt"]

= render partial: "widgets/zendesk_footer"
