- content_for :body_classes do
  - if request.original_fullpath.start_with?('/about-us')
    = 'section-about-us' 
  - if request.original_fullpath.start_with?('/tools')
    = 'section-tools' 
  - if request.original_fullpath.start_with?('/tools/data-hub')
    = 'section-datahub'
%div{:id => 'standard', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  /= render partial: "widgets/zendesk_header"
  - if flash[:notice]
    .zd-confirmation
      %span
        = flash[:notice]

  %main#content.root-index.standard-section
    .grid-row
      .column-full
        %ul.breadcrumb
          %li
            = link_to( 'Home', "/" )
          - if @content.present?
            - @content.each do |bcs|
              - if bcs["breadcrumb"].present?
                - bcs["breadcrumb"].each do |bc|
                  %li
                    = link_to( bc["title"].html_safe, bc["mapped_path"] )

    .grid-row
      .column-full
        %hr{:class => 'rule-small rule-top'}
    .grid-row
      .column-two-thirds
        - if @content.present?
          - @content.each do |p|
            %h2.heading-large
              = p["title"]["rendered"].html_safe
            = p["acf"]["excerpt"]
    .grid-row
      .column-full
        %hr{:class => 'rule-small'}
    .grid-row
      - if @content_children.present?
        - multiple_of = (@content_children.count.to_f / 3).ceil
        - @content_children.in_groups_of(multiple_of).each do |contents|
          .column-third.card
            - contents.compact.each do |content|          
              %h3.heading-small
                - if content["acf"]["redirect_url"].present?
                  - link = content["acf"]["redirect_url"]["url"]
                  - title = content["acf"]["redirect_url"]["title"]
                  - target = content["acf"]["redirect_url"]["target"]
                  = link_to( title, link, target: target)
                - else
                  - link = content["link"]
                  - title = content["title"]["rendered"].html_safe 
                  = link_to( title, link)
              %p
                = content["acf"]["excerpt"]

    = render partial: "widgets/zendesk_footer"
