%div{:id => 'standard', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  /= render partial: "widgets/zendesk_header"
  %main#content.root-index.standard-section
    .grid-row
      .column-full
        %ul.breadcrumb
          %li
            = link_to( 'Home', "/" )

    .grid-row
      .column-full
        %hr{:class => 'rule-small rule-top'}
    .grid-row
      .column-two-thirds
        = @test
        - if @content.present?
          - @content.each do |p|
            %h2.heading-large
              = p["title"]["rendered"]
            = p["acf"]["excerpt"]
    .grid-row
      .column-full
        %hr{:class => 'rule-small'}
      = child_count = @content_children.count
    .grid-row
      / create a var with value of multiple of 3 from child_count here

      - @content_children.each do |content|
        .column-third.card
          %h3
            = link_to( content["title"]["rendered"], content["slug"])
          %p
            = content["acf"]["excerpt"]

      / - if @content_children_content.present?
      /   - @content_children_content.each_with_index do |content, index|
      /     - case index
      /     - when 0..10
      /       .column-third.card
      /         %h3
      /           = link_to( content["title"]["rendered"], content["slug"])
      /         %p
      /           = content["acf"]["excerpt"]

      /   - @content_children_content.each_with_index do |content, index|
      /     - case index
      /     - when 11..20
      /       .column-third.card
      /         %h3
      /           = link_to( content["title"]["rendered"], content["slug"])
      /         %p
      /           = content["acf"]["excerpt"]

      /   - @content_children_content.each_with_index do |content, index|
      /     - case index
      /     - when 21..30
      /       .column-third.card
      /         %h3
      /           = link_to( content["title"]["rendered"], content["slug"])
      /         %p
      /           = content["acf"]["excerpt"]

= render partial: "widgets/zendesk_footer"
