= render partial: "widgets/people_search_inner_page"
%div{:id => 'page', :class => 'page-content'}
  %main#content.search-results
    %ul.breadcrumb
      %li
        = link_to('Home', '/')
    - if @string.nil?
      .grid-row
        .column-full
          %h2.heading-large
            Search by using the dialog box above
    - else 
      .grid-row
        .column-full
          %h2.heading-large
            Search results for '#{@string}'
      .grid-row
        .column-third
          %p.info
            Filter by:
          = render partial: "widgets/search_filter_types"
          = render partial: "widgets/search_filter_news_views"
          = render partial: "widgets/search_filter_working_at_dit"
          = form_tag('/search', id: 'filter-search', method: 'GET') do
            = hidden_field_tag('s', @string)
            = hidden_field_tag('filter_types')
            = hidden_field_tag('filter_news')
            = hidden_field_tag('filter_topics')
            .submit.js-live-search-fallback
              = submit_tag('Submit filters', class: 'button')
        .column-two-thirds
          - if !@posts.nil?
            .result-count
              - @headers.to_json
              = "#{@headers['x-wp-total']} results found"
            %ol.results-list
              - @posts.each do |p|
                - date = DateTime.parse(p['modified_gmt'])
                - formatted_date = date.strftime('%e %b %Y')
                - formatted_time = date.strftime('%H:%M')
                - if p['type'] == 'news'
                  - (top_level_slug = link_to('News', '/news-and-views/'))
                  /- if p['news_categories']
                  /  - category_slug = ' > ' + link_to(p['news_categories'][0]['name'], '/news-and-views/category/' + p['news_categories'][0]['slug'])
                - elsif p['type'] == 'policy'
                  - top_level_slug = link_to('Working at DIT', '/working-at-dit/')
                  /- category_slug = ''
                - elsif p['type'] == 'howdoi'
                  - top_level_slug = link_to('Working at DIT', '/working-at-dit/')
                - elsif p['type'] == 'attachment'
                  - top_level_slug = 'Forms and Templates'
                  - if p['topic_taxonomy']
                    - top_level_slug = link_to(p['topic_taxonomy'][0]['name'], '/working-at-dit/' + p['topic_taxonomy'][0]['slug'])
                  /  - category_slug = ' > ' + link_to(p['topic_taxonomy'][0]['name'], '/working-at-dit/' + p['topic_taxonomy'][0]['slug'])
                -else
                  - top_level_slug = ''
                  - category_slug = ''
                %li.search-result
                  %h3.heading-medium
                    %a{:href => p['mapped_path']}
                      = p['title']
                  - if p['type'] == 'news' || p['type'] == 'howdoi' || p['type'] == 'policy' || p['type'] == 'attachment'
                    %span.search-meta
                      = "#{formatted_date} @ #{formatted_time} GMT in #{top_level_slug} #{category_slug}".html_safe
                  - else
                    %span.search-meta
                      = "#{formatted_date} @ #{formatted_time} GMT"
                  %p.content
                    = p['excerpt'].html_safe
            = render partial: "widgets/search_pagination"
  
= render partial: "widgets/zendesk_footer"
