%div{:id => 'topics', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  %main#content.root-index.content-section
    .grid-row
      .column-half
        %ul.breadcrumb
          %li
            = link_to( 'Home', "/" )
      .column-half
        / .form-group.select-category
        /   %label{:class => 'form-label', :for => 'select-topic'} Topics
        /   %select{:class => 'form-control', :id => 'select_jump_to', :name => 'select-topic'}
        /     %option{:value => ""}
        /       \ Select Topic
        /     - if @topic_selector.present?
        /       - @topic_selector.each do |c|
        /         %option{:value => "/topic/" + c["slug"]}
        /           = link_to( c["title"]["rendered"] )
    .grid-row
      .column-two-thirds
        %hr{:class => 'rule-small rule-top'}
        - if @topic.present?
          - @topic.each do |t|
            %h2.heading-large
              = t["title"]["rendered"]
            = t["content"]["rendered"].html_safe

        %hr{:class => 'rule-small'}
        .topic-container
          .topic
            %h2
              How do I?
            %ul.list-style-a.topics-list
              - if @topic_howdoi.present?
                - @topic_howdoi[0..4].each_with_index do |t, i|
                  %li
                    = link_to(t["title"]["rendered"], link_howdoi_top + t["slug"])
                .topics-list-extra
                  - if @topic_howdoi[5..-1].present?
                    - @topic_howdoi[5..-1].each_with_index do |t, i|
                      %li
                        = link_to(t["title"]["rendered"], link_howdoi_top + t["slug"])
                - if @topic_howdoi[5..-1].present?
                  %li.topic-controls
                    %span{class: 'topic-toggle'}View more
            %hr{:class => 'rule-small'}
          .topic
            %h2
              Policies and Guidance
            %ul.list-style-a.topics-list
              - if @topic_policies.present?
                - @topic_policies[0..4].each_with_index do |t, i|
                  %li
                    / %pre
                    /   = t
                    = link_to(t["title"]["rendered"], '/topic/' + t["slug"])
                .topics-list-extra
                  - if @topic_policies[5..-1].present?
                    - @topic_policies[5..-1].each_with_index do |t, i|
                      %li
                        / %pre
                        /   = t
                        = link_to(t["title"]["rendered"], '/topic/' + t["slug"])
                - if @topic_policies[5..-1].present?
                  %li.topic-controls
                    %span{class: 'topic-toggle'}View more
            %hr{:class => 'rule-small'}

          - @topic_forms.each do |p|
            - if p["acf"].present? && p["acf"]["documents"].present?
              .topic
                %h2.heading-medium
                  Forms and Templates
                - p["acf"]["documents"].each do |d|
                  %ul.list-style-a
                    %li
                      = link_to( d["title"], d["file"]["url"])
                %hr{:class => 'rule-small'}

      .column-third.related-content
        %hr{:class => 'rule-large rule-top'}
        %h2.heading-medium
          Tools
        %ul.list-style-a
          %li
            = link_to('Cirrus Office 365', '/')
          %li
            = link_to('Oracle', '/')
