- content_for :body_classes do
  - 'home'

%header.homepage-top
  .homepage-top-inner
    .welcome-block
      .inner-block.floated-children
        = render partial: "widgets/people_search"
        = render partial: "widgets/profile_overview"
= render partial: "widgets/beta_bar"
- if flash[:notice]
  .zd-confirmation
    %span
      = flash[:notice]
%div{:id => 'homepage', :class => 'homepage-content'}
  %main#content.root-index
    .grid-row
      .column-full
        .hero-news
          .news-item
            - if @posts.present?
              - @posts[0..0].each_with_index do |p, i|
                .hero-news-copy
                  %h3.heading-medium
                    = link_to(p["title"]["rendered"].html_safe, link_news_top + p["slug"])
                  .hero-news-excerpt
                    %p
                      - if p["acf"].present?
                        = truncate_excerpt_hero(p["acf"]["excerpt"])

                    = read_more(link_news_top + p["slug"])
                    - comment_id = p["id"]
                    - get_comment_count = PageQueries.comment_count_query(comment_id)
                    - if get_comment_count.present?
                      - comment_count = get_comment_count.count
                      = precede ' - ' do
                        = comments(link_news_top + p["slug"], comment_count)

                .hero-news-image-container
                  - if image_exists?(p)
                    = large_image_tag(p)

    .grid-row.eh-container
      - if @posts.present?
        - @posts[1..6].each_with_index do |p, i|
          .column-third.eh-target
            .news-item
              .news-item-image
                - if image_exists?(p)
                  = large_image_tag(p)

              .news-item-text
                .post-meta
                  = get_date(p["date"])

                  - cat_length = p["news_categories"].length - 1
                  - p["news_categories"].each_with_index do |cat, i|
                    - if cat_length == 0
                      = news_cats( cat["name"], cat["slug"] )
                    - elsif i == cat_length
                      = news_cats( cat["name"], cat["slug"] )
                    - else
                      = news_cats( cat["name"], cat["slug"] ) + ', '

              %h3.heading-medium
                - heading = truncate_home_news_title(p["title"]["rendered"].html_safe)
                = link_to(heading, link_news_top + p["slug"])

                .news-item-excerpt
                  %p
                    - if p["acf"].present?
                      = truncate_excerpt_home_news(p["acf"]["excerpt"])

    .grid-row
      .column-full.section-note
        %p
          = link_to("View all News", link_news_top)
    %hr{:id => 'news', :class => 'rule-large'}
    .grid-row
      .column-full
        %h2.heading-medium
          What's popular?
    .grid-row
      - if @popular_posts.present?
        - @popular_posts.each do |p|
          .column-third.popular-page-summary
            %span{:class => "image-holder"}
              %a{:title => p["title"]["rendered"], :class => "img", :href => p["slug"]}
                - if p['acf']['image']['alt'].present?
                  - (img_alt = p['acf']['image']['alt'].html_safe)
                - else
                  - (img_alt = p['title']['rendered'].html_safe)
                %img{:src => p['acf']['image']['sizes']['medium'], :alt => img_alt}
            .popular-page-text
              %h3.heading-medium
                = link_to(p["title"]["rendered"].html_safe, p["slug"])
    %hr{:id => 'popular', :class => 'rule-large'}

    - if @visualisations.present?
      .grid-row
        .column-half
          %h2.heading-medium
            How are we doing?
      .grid-row
        - @visualisations.each do |visualisation|
          /= visualisation.inspect
          - if !visualisation["link"].empty?
            - if !visualisation["link"]["url"].empty?
              - tooltip = visualisation["link"]["title"].present? ? visualisation["link"]["title"] : visualisation["text"]
              %a{'title' => tooltip, :href => visualisation["link"]["url"], :class => 'column-third graph-summary graph-summary-orange'}
                .stat{:style => "background-image: url(" + visualisation['image']['url'] + "); background-size: " + visualisation['image']['width'].to_s + "px " + visualisation['image']['height'].to_s + "px; webkit-background-size: " + visualisation['image']['width'].to_s + "px " + visualisation['image']['height'].to_s + "px;"}
                  / %span.stat-number
                  %p.stat-description
                    = visualisation["text"].html_safe
          - else
            %div{'aria-label' => visualisation["text"], :class => 'column-third graph-summary graph-summary-orange'}
              .stat{:style => "background-image: url(" + visualisation['image']['url'] + "); background-size: " + visualisation['image']['width'].to_s + "px " + visualisation['image']['height'].to_s + "px; webkit-background-size: " + visualisation['image']['width'].to_s + "px " + visualisation['image']['height'].to_s + "px;"}
                / %span.stat-number
                %p.stat-description
                  = visualisation["text"].html_safe
      %hr{:id => 'statistics', :class => 'rule-large'}

    .grid-row
      .column-full
        %h2.heading-medium
          How do I?
        %p.howdoi-description
          Top 10 'How do I?' pages
    .grid-row

      - if @howdois.present?

        .column-third
          %ul.list-style-a.how-tos
            - @howdois.each_with_index do |how1, index|
              - case index
              - when 0..3
                %li
                  = link_to(how1["title"]["rendered"].html_safe, link_howdoi_top + how1["slug"])
        .column-third
          %ul.list-style-a.how-tos
            - @howdois.each_with_index do |how2, index|
              - case index
              - when 4..7
                %li
                  = link_to(how2["title"]["rendered"].html_safe, link_howdoi_top + how2["slug"])
        .column-third
          %ul.list-style-a.how-tos
            - @howdois.each_with_index do |how3, index|
              - case index
              - when 8..10
                %li
                  = link_to(how3["title"]["rendered"].html_safe, link_howdoi_top + how3["slug"])
    .grid-row
    %hr{:id => 'statistics', :class => 'rule-large'}

    .grid-row
      .column-full
        %h2.heading-medium
          Latest tweets
    .grid-row
      - TwitterApi.public_tweets.each_with_index do |tweet, index|
        - case index
          - when 0..2
            .column-third.tweet
              .tweet-profile-image
                %img{:src => tweet.user.profile_image_url_https, :alt => tweet.user.screen_name}
              .tweet-body
                .tweet-meta
                  %span.tweet-username
                    = tweet.user.name
                  %a{:href => 'https://www.twitter.com/' + tweet.user.screen_name }
                    = '@' + tweet.user.screen_name
                  %date.tweet-date
                    = tweet.created_at.strftime('%b %d')
                %p.tweet-content
                  = parsed_tweet tweet
= render partial: "widgets/zendesk_footer"
