%header.homepage-top
  .homepage-top-inner
    .welcome-block
      .inner-block.floated-children
        = render partial: "widgets/people_search"
        = render partial: "widgets/profile_overview"
= render partial: "widgets/beta_bar"
%div{:id => 'homepage', :class => 'homepage-content'}
  = render partial: "widgets/zendesk_header"
  %main#content.root-index
    .grid-row
      .column-full
        %h2.heading-medium.heading-top
          News and Views
        %hr{class: 'rule-small'}
    .grid-row
      .column-full
        .hero-news
          .news-item
            - if @posts.present?
              - @posts[0..0].each_with_index do |p, i|
                .hero-news-copy
                  %h1.heading-medium
                    = link_to(p["title"]["rendered"].html_safe, link_news_top + p["slug"])
                  .hero-news-excerpt
                    %p
                      - if p["acf"].present?
                        = truncate_excerpt_hero(p["acf"]["excerpt"])

                    = read_more(link_news_top + p["slug"])
                    - if @comments_headers["x-wp-total"].present?
                      = precede ' - ' do
                        - comment_count = Integer(@comments_headers["x-wp-total"])
                        = comments(link_news_top + p["slug"], comment_count)

                .hero-news-image-container
                  = large_image_tag(p)

    .grid-row.eh-container
      - if @posts.present?
        - @posts[1..6].each_with_index do |p, i|
          .column-third.eh-target
            .news-item
              = large_image_tag(p)

              .news-item-text
                .post-meta
                  = succeed ' GMT, ' do
                    - date = DateTime.parse(p["date"])
                    = date.strftime('%d %B %Y')
                    = date.strftime('@ %I:%M')

                  - p["news_categories"].each do |cat|
                    = news_cats( cat["name"], cat["slug"] )

              %h3.heading-medium
                - heading = truncate_home_news_title(p["title"]["rendered"])
                = link_to(heading, link_news_top + p["slug"])

                .news-item-excerpt
                  %p
                    - if p["acf"].present?
                      = truncate_excerpt_home_news(p["acf"]["excerpt"])

    .grid-row
      .column-full.section-note
        %p
          = link_to("View all News", link_news_top)
    %hr{:id => 'news', :class => 'rule-large'}
    .grid-row
      .column-full
        %h2.heading-medium
          What's popular?
    .grid-row
      - @popular_posts.each do |p|
        .column-third.popular-page-summary
          %span{:class => "image-holder"}
            %a{:title => p["title"]["rendered"], :class => "img", :href => p["slug"]}
              %img{:src => p['acf']['image']['sizes']['medium'], :alt => p["title"]["rendered"]}
          .popular-page-text
            %h3.heading-medium
              = link_to(p["title"]["rendered"].html_safe, p["slug"])
    %hr{:id => 'popular', :class => 'rule-large'}

    .grid-row
      .column-half
        %h2.heading-medium
          How are we doing?
      .column-half.section-note.section-note-top
        %p.fineprint
          Data provided by Datahub and great.gov.uk
    .grid-row
      .column-third.graph-summary.graph-summary-a.graph-summary-orange
        .stat
          %span.stat-number
            21
          %p.stat-description
            Chocolate cakes baked
      .column-third.graph-summary.graph-summary-b.graph-summary-orange
        .stat
          %span.stat-number
            120
          %p.stat-description
            Slices of cake eaten
      .column-third.graph-summary.graph-summary-c.graph-summary-orange
        .stat
          %span.stat-number
            5m
          %p.stat-description
            Calories added to our waistline
    .grid-row
      .column-full.section-note
        %p
          = link_to("See all stats", "/")
    %hr{:id => 'statistics', :class => 'rule-large'}


    .grid-row
      .column-full
        %h2.heading-medium
          How do I?
        %p.howdoi-description
          This is the most visited 20 &quot;How do I?&quot; content
    .grid-row
      .column-third
        %ul.list-style-a.how-tos
          - @howdois.each_with_index do |p, index|
            - case index
            - when 0..7
              %li
                = link_to(p["title"]["rendered"].html_safe, link_howdoi_top + p["slug"])
      .column-third
        %ul.list-style-a.how-tos
          - @howdois.each_with_index do |p, index|
            - case index
            - when 8..15
              %li
                = link_to(p["title"]["rendered"].html_safe, link_howdoi_top + p["slug"])
      .column-third
        %ul.list-style-a.how-tos
          - @howdois.each_with_index do |p, index|
            - case index
            - when 16..23
              %li
                = link_to(p["title"]["rendered"].html_safe, link_howdoi_top + p["slug"])
    .grid-row
      .column-full.section-note
        %p
          = link_to("See all How to's", "/")
    %hr{:id => 'statistics', :class => 'rule-large'}


    .grid-row
      .column-full
        %h2.heading-medium
          Latest tweets
    .grid-row
      - TwitterApi.public_tweets.each_with_index do |tweet, index|
        - case index
          - when 0..2
            .column-third.tweet
              .tweet-profile-image
                %img{:src => tweet.user.profile_image_url_https, :alt => tweet.user.screen_name}
              .tweet-body
                .tweet-meta
                  %span.tweet-username
                    = tweet.user.name
                  %a{:href => 'https://www.twitter.com/' + tweet.user.screen_name }
                    = '@' + tweet.user.screen_name
                  %date.tweet-date
                    = tweet.created_at.strftime('%b %d')
                %p.tweet-content
                  = parsed_tweet tweet
= render partial: "widgets/zendesk_footer"
