%header.homepage-top
  .homepage-top-inner
    .welcome-block
      .inner-block.floated-children
        .welcome-people-finder
          .floated-inner-block
            %h2.heading-large
              Find people
            %p
              Search for your colleagues across the department
            %form{:action => "/search", :method => "get", :role => "search"}
              .govuk-search
                %label.search-label
                  Search people
                .search-wrapper
                  %input{:type => 'search', :title => 'Search', :class => 'search-element search-input js-class-toggle'}
                  .search-element.search-submit-wrapper
                    %button{:type => 'submit', :class => 'search-submit'}
                      Search
        .profile-overview
          .profile-overview-inner
            %span.profile-flair
            .profile-image
              %img{:src => @people_finder_profile["data"]["links"]["profile-image-url"], :alt => @people_finder_profile["data"]["attributes"]["name"]}
            .profile-meta
              %h3.heading-small
                = link_to(@people_finder_profile["data"]["attributes"]["name"], @people_finder_profile["data"]["links"]["profile"])
              %span
                = @people_finder_profile["data"]["attributes"]["team"]
              %span.profile-progress
                #{@people_finder_profile["data"]["attributes"]["completion-score"]}% complete
              %span.profile-update
                %a{:href => @people_finder_profile["data"]["links"]["edit-profile"]}
                  Update
%div{:id => 'homepage', :class => 'homepage-content'}
  %main#content.root-index
    .grid-row
      .column-full
        %h2.heading-medium
          Latest news
    .grid-row
      .column-third.news-column
        %h2.heading-medium
          Ministers
        - @posts_ministers.each_with_index do |p, index|
          .news-item.news-item-medium
            %span{:class => "image-holder"}
              %a{:title => p["title"]["rendered"], :class => "img", :href => p["slug"]} 
                %img{:src => p["acf"]["image"]["sizes"]["medium"], :alt => p["title"]["rendered"]}
            /%img{:src => @base_media_uri + p['featured_image']['file']}
            .news-item-text
              .news-item-meta
                - date = DateTime.parse(p["date"])
                = date.strftime('%d %B %Y')
              %h3.heading-medium
                = link_to(p["title"]["rendered"].html_safe, p["slug"])
              /= p["excerpt"]["rendered"].html_safe
              = p["excerpt"]["rendered"].html_safe
      .column-third.news-column
        %h2.heading-medium
          Antonia
        - @posts_antonia.each_with_index do |p, index|
          .news-item.news-item-medium
            %span{:class => "image-holder"}
              %a{:title => p["title"]["rendered"], :class => "img", :href => p["slug"]} 
                %img{:src => p["acf"]["image"]["sizes"]["medium"], :alt => p["title"]["rendered"]}
            /%img{:src => @base_media_uri + p['featured_image']['file']}
            .news-item-text
              .news-item-meta
                - date = DateTime.parse(p["date"])
                = date.strftime('%d %B %Y')
              %h3.heading-medium
                = link_to(p["title"]["rendered"].html_safe, p["slug"])
              /= p["excerpt"]["rendered"].html_safe
              = p["excerpt"]["rendered"].html_safe
      .column-third.news-column
        %h2.heading-medium
          Departmental Board
        - @posts_departmental.each_with_index do |p, index|
          .news-item.news-item-medium
            %span{:class => "image-holder"}
              %a{:title => p["title"]["rendered"], :class => "img", :href => p["slug"]} 
                %img{:src => p["acf"]["image"]["sizes"]["medium"], :alt => p["title"]["rendered"]}
            .news-item-text
              .news-item-meta
                - date = DateTime.parse(p["date"])
                = date.strftime('%d %B %Y')
              %h3.heading-medium
                = link_to(p["title"]["rendered"].html_safe, p["slug"])
              /= p["excerpt"]["rendered"].html_safe
              = p["excerpt"]["rendered"].html_safe
    .grid-row
      .column-full.section-note
        %p
          = link_to("View all News", "/")
    %hr{:id => 'news', :class => 'rule-large'}
    .grid-row
      .column-full
        %h2.heading-medium
          What's popular?
    .grid-row
      - @popular_posts.each do |p|
        .column-third.popular-page-summary
          %span{:class => "image-holder"}
            %a{:title => p["title"]["rendered"], :class => "img", :href => p["slug"]}
              %img{:src => p['acf']['image']['sizes']['medium'], :alt => p["title"]["rendered"]}
          .popular-page-text
            %h3.heading-medium 
              = link_to(p["title"]["rendered"].html_safe, p["slug"])
    %hr{:id => 'popular', :class => 'rule-large'}
    -# .grid-row
    -#  .column-half.section-note.section-note-top
    -#    %p.fineprint
    -#      Data provided by Datahub and great.gov.uk
    -#  .column-half
    -#    %h2.heading-medium
    -#      How are we doing?
    -#.grid-row
    -#  .column-third.graph-summary.graph-summary-teal
    -#    .stat
    -#      %span.stat-number
    -#        21
    -#      %p.stat-description
    -#        Chocolate cakes baked
    -#  .column-third.graph-summary.graph-summary-blue
    -#    .stat
    -#      %span.stat-number
    -#        120
    -#      %p.stat-description
    -#        Slices of cake eaten
    -#  .column-third.graph-summary.graph-summary-pink
    -#    .stat
    -#      %span.stat-number
    -#        5m
    -#      %p.stat-description
    -#        Calories added to our waistline
    -#.grid-row
    -#  .column-full.section-note
    -#    %p
    -#      = link_to("See all stats", "/")
    -#%hr{:id => 'statistics', :class => 'rule-large'}
    .grid-row
      .column-full
        %h2.heading-medium
          Top 20 How to's
    .grid-row
      .column-quarter
        %span.stat-description
          How to&hellip;
        %ul.how-tos
          - @howtos.each_with_index do |p, index|
            - case index
            - when 0..4
              %li
                = link_to(p["title"]["rendered"].html_safe, p["slug"])
      .column-quarter
        %span.stat-description
          &nbsp;
        %ul.how-tos
          - @howtos.each_with_index do |p, index|
            - case index
            - when 5..9
              %li
                = link_to(p["title"]["rendered"].html_safe, p["slug"])
      .column-quarter
        %span.stat-description
          &nbsp;
        %ul.how-tos
          - @howtos.each_with_index do |p, index|
            - case index
            - when 10..14
              %li
                = link_to(p["title"]["rendered"].html_safe, p["slug"])
      .column-quarter
        %span.stat-description
          &nbsp;
        %ul.how-tos
          - @howtos.each_with_index do |p, index|
            - case index
            - when 15..19
              %li
                = link_to(p["title"]["rendered"].html_safe, p["slug"])
    .grid-row
      .column-full.section-note
        %p
          = link_to("See all How to's", "/")
    %hr{:id => 'statistics', :class => 'rule-large'}
    .grid-row
      .column-full
        %h2.heading-medium
          Latest tweets  
    .grid-row
      - TwitterApi.public_tweets.each_with_index do |tweet, index|
        - case index
          - when 0..2
            .column-third.tweet
              .tweet-profile-image
                %img{:src => tweet.user.profile_image_url_https, :alt => tweet.user.screen_name}
              .tweet-body
                .tweet-meta
                  %span.tweet-username
                    = tweet.user.name
                  %a{:href => 'https://www.twitter.com/' + tweet.user.screen_name }
                    = '@' + tweet.user.screen_name
                  %date.tweet-date
                    = tweet.created_at.strftime('%b %d')
                %p.tweet-content
                  = parsed_tweet tweet