%main#content.root-index.content-section
  .grid-row
    .column-full
      %ul.breadcrumb
        %li
          = link_to( 'Home', "/" )
          - if @content.present?
            - @content.each do |bcs|
              - if bcs["breadcrumb"].present?
                - bcs["breadcrumb"].each do |bc|
                  %li
                    = link_to( bc["title"].html_safe, bc["slug"] )

  .grid-row
    - if @content.present?
      - @content.each do |content|
        .column-two-thirds
          %hr{:class => 'rule-small rule-top'}
            - if content["acf"].present? && content["acf"]["content_under_review"] == true
              .policy-notification-update
                %p
                  This policy is being updated. It is current, but will soon be replaced.
            %h2.heading-large.heading-top
              = content["title"]["rendered"].html_safe
            %div.dates-published-updated
              %ul.list-style-a
                %li
                  Published:
                  = get_date( content["date"] )
                %li
                  Last updated:
                  = get_date( content["modified"] )

            - if content["acf"].present? && content["acf"]["content_under_review"] == true
              .policy-notification-content
                %p
                  %strong
                    Please note:<br />
                  Over the coming months, this page will be updated and refreshed to reflect our vision of One DIT. In the meantime, this page and its content remains relevant and appropriate to all DIT staff.
                %p                    
                  Delete all of your previous favorites or bookmarked items on the old DIT and BIS intranets. Only bookmark content on Digital Workspace from now on.

            = content["content"]["rendered"].html_safe
          - if content["acf"].present? && content["acf"]["documents"].present?
            %h2.heading-medium
              Documents
            - content["acf"]["documents"].each do |docs|
              %ul.list-style-a
                %li
                  = link_to( docs["title"], docs["file"]["url"])
= render partial: "widgets/related_news_partial"
