%main#content.root-index.content-section
  .grid-row
    .column-full
      %ul.breadcrumb
        %li
          = link_to( 'Home', "/" )
        / - if @content.present?
        /   - @content.each do |bcs|
        /     - if bcs["breadcrumb"].present?
        /       - bcs["breadcrumb"].each do |bc|
        /         %li
        /           = link_to( bc["title"], link_topics_top + bc["slug"] )

  .grid-row
    - @content.each do |content|
      .column-two-thirds
        %hr{:class => 'rule-small rule-top'}
          %h2.heading-large.heading-top
            = content["title"]["rendered"]
          = content["content"]["rendered"].html_safe
        - if content["acf"].present? && content["acf"]["documents"].present?
          %h2.heading-medium
            Documents
          - content["acf"]["documents"].each do |docs|
            %ul.list-style-a
              %li
                = link_to( docs["title"], docs["file"]["url"])
= render partial: "widgets/related_news_partial"
