%main#content.root-index.content-section
  .grid-row
    .column-full
      %ul.breadcrumb
        %li
          = link_to( 'Home', '/' )
        %li
          = link_to( 'Working at DIT', '/working-at-dit/')

  .grid-row
    .column-two-thirds
      %h2.heading-large.heading-top
        = "All How Do I? guides"
      %div
        %ul#how_do_i_archive
          - @api_call.howdois.each do |howdoi|
            %li{:id => "how-do-i-#{howdoi['id']}"}
              = link_to( howdoi['title']['rendered'].html_safe, howdoi['mapped_path'])