%a{:href => "#proposition-links", :class => "js-header-toggle menu"}
  Menu
%nav{:id => "proposition-menu"}
  %ul{:id => "proposition-links"}
    %li
      = link_to "Peoplefinder", "http://peoplefinder-dev.herokuapp.com"
    %li
      = link_to "News", "/news/"
    %li
      = link_to "How do I", "/"
    %li
      = link_to "Guidance", "/"
    %li
      = link_to "Policy", "/"
    %li
      = link_to "Tools", "/"
    %li
      = link_to "Data hub", "/"
