- if !@people_finder_profile.nil?
  .profile-overview
    .profile-overview-inner
      %span.profile-flair
      %span.profile-content
        %div.profile-details
          - if @people_finder_profile.profile_image_url
            .profile-image
              = image_tag @people_finder_profile.profile_image_url, alt: @people_finder_profile.name
          - if @people_finder_profile.profile_image_url
            - (@meta_class = 'profile-meta')
          - else 
            - @meta_class = 'no-image profile-meta'
          .profile-meta{class: @meta_class}
            %h3.heading-small
              - if @people_finder_profile.given_name && @people_finder_profile.surname
                %a{:href => @people_finder_profile.profile_url}
                  @people_finder_profile.given_name
                  %span
                    @people_finder_profile.surname
              - elsif @people_finder_profile.name
                = link_to(@people_finder_profile.name, @people_finder_profile.profile_url)
            %span
              = @people_finder_profile.team
        %div
          %span.profile-progress
            #{@people_finder_profile.completion_score || 0}% complete
          %span.profile-update
            = link_to "Update", @people_finder_profile.profile_url
