- (search_slug_top = '/search/?')
- search_slug_top = search_slug_top + 's=' + params['s'] + '&' unless params['s'].nil?
- search_slug_top = search_slug_top + 'filter_types=' + params['filter_types'] + '&' unless params['filter_types'].nil?
- search_slug_top = search_slug_top + 'filter_news=' + params['filter_news'] + '&' unless params['filter_news'].nil?
- search_slug_top = search_slug_top + 'filter_themes=' + params['filter_themes'] + '&' unless params['filter_themes'].nil?

.pagination-b
  .prev
    - if @paginator.previous_page_no
      %a{:href => search_slug_top + "page=#{@paginator.previous_page_no}"}
        %span.link-title
          Previous
        %span.paging-count
          = "#{@paginator.previous_page_no} of #{@paginator.last_page_no}"
  .next
    - if @paginator.next_page_no
      %a{:href => search_slug_top + "page=#{@paginator.next_page_no}"}
        %span.link-title
          Next
        %span.paging-count
          = "#{@paginator.next_page_no} of #{@paginator.last_page_no}"
