#feedback_container.feedback_container
  %a{:href => '#feedback', :id => 'feedbackToggle'}
    Is there anything wrong with this page?
  = form_tag('/report_problem', method: :post, class: 'new_problem_report', id: 'new_problem_report') do
    .notice.notice-link-expiry
      %i.icon.icon-important
        %span.visually-hidden Notice
      %strong.bold-xsmall
        Download links on this page expire after 15 minutes for security reasons. If you clicked on a link and received an error message,
        please refresh the page in your browser and try again. If that hasn't fixed your issue, let us know.
    .form-group
      = label_tag('problem_report_goal', 'What were you trying to do?', {:class => 'form-label'})
      = text_area_tag('problem_report_goal', '', {:class => 'form-control', :id => 'problem_report_goal'})
    .form-group
      = label_tag('problem_report_problem', 'What went wrong?', {:class => 'form-label'})
      = text_area_tag('problem_report_problem', '', {:class => 'form-control', :id => 'problem_report_problem'})
    = hidden_field_tag('problem_report_email', "#{@people_finder_profile.email}")
    = hidden_field_tag('problem_report_origin', "#{request.original_url}")
    = hidden_field_tag('problem_report_browser', "#{request.env['HTTP_USER_AGENT']}")
    = submit_tag('Report', class: 'button')
