%div{:id => 'category', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  /= render partial: "widgets/zendesk_header"
  %main#content.root-index.news-section
    .grid-row
      .column-half
        %ul.breadcrumb
          %li
            = link_to( 'Home', "/" )
          %li
            News and views

      .column-half
        .form-group.select-category
          %label{:class => 'form-label', :for => 'select-category'} Categories
          %select{:class => 'form-control', :id => 'select_jump_to', :name => 'select-category'}
            %option{:value => ""}
              \ Select Category
            - if @categories.present?
              - @categories.each do |c|
                %option{:value => link_news_top + link_news_category + c["slug"]}
                  = link_to( c["name"] )
    .grid-row
      .column-full
        %hr{:class => 'rule-large rule-top'}
        %h2.heading-medium
          All news
    .grid-row
      - if @hero_post
        .column-full
          .hero-news
            .news-item
              .hero-news-copy
                %h1.heading-medium
                  = link_to(@hero_post["title"]["rendered"].html_safe, link_news_top + @hero_post["slug"])
                .hero-news-excerpt
                  %p
                    - if @hero_post["acf"].present?
                      = truncate_excerpt(@hero_post["acf"]["excerpt"])
                  = read_more(link_news_top + @hero_post["slug"])
                  - if @comments_headers["x-wp-total"].present?
                    = precede ' - ' do
                      - comment_count = Integer(@comments_headers["x-wp-total"])
                      = comments(link_news_top + @hero_post["slug"], comment_count)
              .hero-news-image-container
                - if image_exists?(@hero_post)
                  = large_image_tag(@hero_post)

      .column-two-thirds
        - if @posts.present?
          - @posts.each do |p|
            .news-item
              %h3.heading-medium
                %hr{:class => 'rule-small'}
                = link_to(p["title"]["rendered"].html_safe, link_news_top + p["slug"])
              .news-item-text
                .post-meta
                  - profile = PeopleFinderProfile.from_api(p["author_email"])
                  = succeed ', ' do
                    = profile.name || "Unknown"
                  = get_date(p["date"])

                  - cat_length = p["news_categories"].length - 1
                  - p["news_categories"].each_with_index do |cat, i|
                    - if cat_length == 0
                      = news_cats( cat["name"], cat["slug"] )
                    - elsif i == cat_length
                      = news_cats( cat["name"], cat["slug"] )
                    - else
                      = news_cats( cat["name"], cat["slug"] ) + ', '


                .news-item-excerpt
                  %p
                    - if p["acf"].present?
                      = truncate_excerpt(p["acf"]["excerpt"])
                  = read_more(link_news_top + p["slug"])
                  - if @comments_headers["x-wp-total"].present?
                    = precede ' - ' do
                      - comment_count = Integer(@comments_headers["x-wp-total"])
                      = comments(link_news_top + p["slug"], comment_count)

        %hr{:class => 'rule-small'}
        .pagination
          .prev
            - if @paginator.previous_page_no
              = link_to( "Prev Page", link_news_top + "?page=#{@paginator.previous_page_no}" )
          .next
            - if @paginator.next_page_no
              = link_to( "Next Page", link_news_top + "?page=#{@paginator.next_page_no}" )
          .numbered-paging
            %ul
              - if @paginator.current_page_no == 1
                %li
                  %span.current
                    1
              - else
                %li
                  = link_to( "1", link_news_top + "?page=1")
              - if @paginator.last_page_no >= 2
                - if @paginator.current_page_no == 2
                  %li
                    %span.current
                      2
                - else
                  %li
                    = link_to( "2", link_news_top + "?page=2")
              - if @paginator.current_page_no - 5 >= 1
                %li
                  = link_to("…", link_news_top + "page=#{@paginator.current_page_no - 5}")
              - if not [0, 1, 2, @paginator.last_page_no, @paginator.last_page_no - 1].include?(@paginator.current_page_no - 1)
                %li
                  = link_to( "#{@paginator.current_page_no - 1}", link_news_top + "?page=#{@paginator.current_page_no - 1}" )
              - if not [0, 1, 2, @paginator.last_page_no, @paginator.last_page_no - 1].include?(@paginator.current_page_no)
                %li
                  %span.current
                    = @paginator.current_page_no
              - if not [0, 1, 2, @paginator.last_page_no, @paginator.last_page_no - 1].include?(@paginator.current_page_no + 1)
                - if @paginator.current_page_no < @paginator.last_page_no - 1
                  %li
                    = link_to( "#{@paginator.current_page_no + 1}", link_news_top + "?page=#{@paginator.current_page_no + 1}" )
              - if @paginator.current_page_no + 5 <= @paginator.last_page_no
                %li
                  = link_to("…", "?page=#{@paginator.current_page_no + 5}")
              - if @paginator.last_page_no - 1 > 2
                - if @paginator.last_page_no - 1 == @paginator.current_page_no
                  %li
                    %span.current
                      = @paginator.last_page_no - 1
                - else
                  %li
                    = link_to( "#{@paginator.last_page_no - 1}", link_news_top + "?page=#{@paginator.last_page_no - 1}")
              - if @paginator.last_page_no > 2
                - if @paginator.last_page_no == @paginator.current_page_no
                  %li
                    %span.current
                      = @paginator.last_page_no
                - else
                  %li
                    = link_to( "#{@paginator.last_page_no}", link_news_top + "?page=#{@paginator.last_page_no}")

      .column-third.news-category
        %hr{:class => 'rule-large'}
        %h3.heading-small
          All categories

        %ul.list-style-a
          - if @categories.present?
            - @categories.each do |c|
              %li
                = link_to( c["name"], link_news_top + link_news_category + c["slug"])
                %span.news-category-count.font-xsmall
                  = "(#{c["count"]})"

= render partial: "widgets/zendesk_footer"
