%div{:id => 'category', :class => 'page-content'}
  %main#content.root-index.news-section
    .grid-row
      .column-half
        .breadcrumb
          Breadcrumb
      .column-half
        .form-group.select-category
          %label{:class => 'form-label', :for => 'select-category'}
          %select{:class => 'form-control', :id => 'select_category', :name => 'select-category'}
            %option{:value => ""}
              \ Select Category
            - @categories.each do |c|
              %option{:value => "/news/category/" + c["slug"]}
                = link_to( c["name"] )

      .column-full
        %hr{:class => 'rule-large'}
        %h2.heading-medium
          All news
    .grid-row
      .column-full

        .hero-news
          .news-item
            -# @posts.each do |p|
            - @posts[0..0].each_with_index do |p, i|
              .hero-news-copy
                %h1.heading-small
                  = link_to(p["title"]["rendered"].html_safe, "/" + p["slug"])
                .hero-news-excerpt
                  %p
                    = truncate_excerpt(p["excerpt"]["rendered"])
                  = read_more(p["slug"])
                  = comments(p["slug"], 0)

              .hero-news-image-container
                %img{:src => p["acf"]["image"]["sizes"]["medium"], :alt => p["title"]["rendered"]}

      .column-two-thirds
        - @posts[1..-1].each_with_index do |p, i|
          .news-item
            %h3.heading-medium
              %hr{:class => 'rule-small'}
              = link_to(p["title"]["rendered"].html_safe, "/" + p["slug"])
            .news-item-text
              .news-item-meta
                - profile = PeopleFinderProfile.from_api('alice@example.com')
                = succeed ', ' do
                  = profile.name || "Unknown"
                - date = DateTime.parse(p["date"])
                = date.strftime('%d %B %Y')
                = date.strftime('@ %I:%M')
              .news-item-excerpt
                %p
                  = truncate_excerpt(p["excerpt"]["rendered"])
                = read_more(p["slug"])
                = comments(p["slug"], 2)
            -#%pre{:style => 'width: 100%; display: block; font-family: Courier New;'}
            -#= p
        .pagination-a
          %hr{:class => 'rule-small'}
          .prev
            %a
              Prev page
          .pages
            %a
              1
            %a
              2
            %a
              &hellip;
            %a
            -# display total number of pages here
              85
          .next
            %a
              Next page
      .column-third.news-category
        %hr{:class => 'rule-large'}
        %h3.heading-small
          All categories

          %ul.list.font-small
            - @categories.each do |c|
              %li
                = link_to( c["name"], "/news/category/" + c["slug"])
                %span.news-category-count.font-xsmall
                  = "(#{c["count"]})"

