%div{:id => 'category', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  %main#content.root-index.news-section
    .grid-row
      .column-half
        %ul.breadcrumb
          %li
            = link_to( 'Home', "/" )
          %li
            = link_to( 'News', "/news/" )

      .column-half
        .form-group.select-category
          %label{:class => 'form-label', :for => 'select-category'} Categories
          %select{:class => 'form-control', :id => 'select_category', :name => 'select-category'}
            %option{:value => ""}
              \ Select Category
            - @categories.each do |c|
              %option{:value => "/news/category/" + c["slug"]}
                = link_to( c["name"] )
    .grid-row
      .column-full
        %hr{:class => 'rule-large rule-top'}
        %h2.heading-medium
          All news
    .grid-row
      - if @hero_post
        .column-full
          .hero-news
            .news-item
              .hero-news-copy
                %h1.heading-small
                  = link_to(@hero_post["title"]["rendered"].html_safe, "/news/" + @hero_post["slug"])
                .hero-news-excerpt
                  %p
                    = truncate_excerpt(@hero_post["excerpt"]["rendered"])
                  = read_more("/news/" + @hero_post["slug"])
                  - if @comments_headers["x-wp-total"].present?
                    - comment_count = Integer(@comments_headers["x-wp-total"])
                    = comments("/news/" + @hero_post["slug"], comment_count)
              .hero-news-image-container
                = large_image_tag(@hero_post)

      .column-two-thirds
        - @posts.each do |p|
          .news-item
            %h3.heading-medium
              %hr{:class => 'rule-small'}
              = link_to(p["title"]["rendered"].html_safe, "/news/" + p["slug"])
            .news-item-text
              .post-meta
                - profile = PeopleFinderProfile.from_api(p["author_email"])
                = succeed ', ' do
                  = profile.name || "Unknown"
                = get_date(p["date"])

                - p["news_category"].each do |cat|
                  = news_cats( cat["name"], cat["slug"] )
              .news-item-excerpt
                %p
                  = truncate_excerpt(p["excerpt"]["rendered"])
                = read_more("/news/" + p["slug"])
                - if @comments_headers["x-wp-total"].present?
                  - comment_count = Integer(@comments_headers["x-wp-total"])
                  = comments("/news/" + p["slug"], comment_count)

        %hr{:class => 'rule-small'}
        .pagination
          .prev
            - if @paginator.previous_page_no
              = link_to( "Prev Page", "/news/?page=#{@paginator.previous_page_no}" )
          .next
            - if @paginator.next_page_no
              = link_to( "Next Page", "/news/?page=#{@paginator.next_page_no}" )
          .numbered-paging
            %ul
              - if @paginator.current_page_no == 1
                %li
                  %span.current
                    1
              - else
                %li
                  = link_to( "1", "/news/?page=1")
              - if @paginator.last_page_no >= 2
                - if @paginator.current_page_no == 2
                  %li
                    %span.current
                      2
                - else
                  %li
                    = link_to( "2", "/news/?page=2")
              - if @paginator.current_page_no - 5 >= 1
                %li
                  = link_to("…", "/news/?page=#{@paginator.current_page_no - 5}")
              - if not [0, 1, 2, @paginator.last_page_no, @paginator.last_page_no - 1].include?(@paginator.current_page_no - 1)
                %li
                  = link_to( "#{@paginator.current_page_no - 1}", "/news/?page=#{@paginator.current_page_no - 1}" )
              - if not [0, 1, 2, @paginator.last_page_no, @paginator.last_page_no - 1].include?(@paginator.current_page_no)
                %li
                  %span.current
                    = @paginator.current_page_no
              - if not [0, 1, 2, @paginator.last_page_no, @paginator.last_page_no - 1].include?(@paginator.current_page_no + 1)
                - if @paginator.current_page_no < @paginator.last_page_no - 1
                  %li
                    = link_to( "#{@paginator.current_page_no + 1}", "/news/?page=#{@paginator.current_page_no + 1}" )
              - if @paginator.current_page_no + 5 <= @paginator.last_page_no
                %li
                  = link_to("…", "/news/?page=#{@paginator.current_page_no + 5}")
              - if @paginator.last_page_no - 1 > 2
                - if @paginator.last_page_no - 1 == @paginator.current_page_no
                  %li
                    %span.current
                      = @paginator.last_page_no - 1
                - else
                  %li
                    = link_to( "#{@paginator.last_page_no - 1}", "/news/?page=#{@paginator.last_page_no - 1}")
              - if @paginator.last_page_no > 2
                - if @paginator.last_page_no == @paginator.current_page_no
                  %li
                    %span.current
                      = @paginator.last_page_no
                - else
                  %li
                    = link_to( "#{@paginator.last_page_no}", "/news/?page=#{@paginator.last_page_no}")

      .column-third.news-category
        %hr{:class => 'rule-large'}
        %h3.heading-small
          All categories

        %ul.list.font-small
          - @categories.each do |c|
            %li
              = link_to( c["name"], "/news/category/" + c["slug"])
              %span.news-category-count.font-xsmall
                = "(#{c["count"]})"

