- content_for :body_classes do
  - 'section-about-us' if request.original_fullpath.start_with?('/about-us')
  - 'section-tools' if request.original_fullpath.start_with?('/tools')
  - 'section-datahub' if request.original_fullpath.start_with?('/tools/data-hub')
- if flash[:notice]
  .zd-confirmation
    %span
      = flash[:notice]

%div{:id => 'generic_content', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  /= render partial: "widgets/zendesk_header"
  = render partial: "widgets/content_partial"
  = render partial: "widgets/related_news_partial"
= render partial: "widgets/zendesk_footer"
