%div{:id => 'generic_content', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  = render partial: "widgets/zendesk_header"
  %main#content.root-index.content-section
    .grid-row
      .column-full
        %ul.breadcrumb
          %li
            = link_to( 'Home', "/" )

    .grid-row
      .column-full
        %hr{:class => 'rule-small'}
    .grid-row
      - if @posts.present?
        - @posts.each do |p|
          .column-third
            %h2.heading-medium
              = link_to(p["title"]["rendered"], link_topics_top +  p["slug"])
            = truncate_excerpt(p["excerpt"]["rendered"])

= render partial: "widgets/zendesk_footer"
