- content_for :global_header_text do
  %img{:src => 'http://dit-prototype.preview3.co.uk/assets/dit-logo.png', :alt => 'Department for International Trade'}

- content_for :page_title, "Digital Workspace"

- content_for :head do

  = stylesheet_link_tag "application", media: "all"
  = csrf_meta_tag

- content_for :header_class do
  = "with-proposition"

- content_for :proposition_header do
  .header-proposition
    .content
      = link_to "Digital Workspace", root_path, id: "proposition-name"
    - if current_page?(root_path)
      = render partial: "widgets/nav_homepage"
    - else
      = render partial: "widgets/nav"

    .search
      %form{:action => "/search", :method => "get", :role => "search"}
        .proposition-search.govuk-search
          %label.search-label
            Search site
          .search-wrapper
            %input{:type => 'search', :title => 'Search', :class => 'search-element search-input js-class-toggle'}
            .search-element.search-submit-wrapper
              %button{:type => 'submit', :class => 'search-submit'}
                Search


- content_for :body_end do
  = javascript_include_tag 'application'

- content_for :footer_top do

  - @footer_menu_content = footer_menu_content

- content_for :footer_support_links do
  %ul.list-style-a
    -if !@footer_menu_content.nil?
      - @footer_menu_content.each do |menu_link|
        %li
          = link_to(menu_link['menu_item']['title'], menu_link['menu_item']['url'], target: menu_link['menu_item']['target'])
  .footer-credits
    %p
      Built by the
      = link_to('DIT Digital', '#')
      team

= render file: 'layouts/govuk_template'
