- content_for :global_header_text, "DIT"

- content_for :page_title, "Digital Workspace"

- content_for :head do

  = stylesheet_link_tag "application", media: "all"
  = csrf_meta_tag

- content_for :header_class do
  = "with-proposition"

- content_for :proposition_header do
  .header-proposition
    .content
      = link_to "DIT Digital Workspace", root_path, id: "proposition-name"

      #proposition-link
        = link_to "Peoplefinder", "http://peoplefinder-dev.herokuapp.com"


- content_for :body_end do
  = javascript_include_tag 'application'

- content_for :content do
  %wrapper.direction-ltr
    %main#content
      = yield

- content_for :footer_top do
  .grid-row
    .column-quarter
      %h2.heading-medium
        Networks
      %hr{:class => 'rule-footer'}
      %ul
        %li
          = link_to("Age", "")
        %li
          = link_to("Disability", "")
        %li
          = link_to("Ethnicity", "")
        %li
          = link_to("EU Nationals", "")
        %li
          = link_to("LGBTI", "")
        %li
          = link_to("Parents", "")
        %li
          = link_to("Advisory Group for race", "")
        %li
          = link_to("Equality (AGRE)", "")
        %li
          = link_to("Faith Group", "")
        %li
          = link_to("Womans", "")
        %li
          = link_to("Muslim Womans", "")
    .column-half
      %h2.heading-medium
        Latest Publications
      %hr{:class => 'rule-footer'}
      %ul
        %li
          = link_to("Joint Ministerial Committee communiqué: 30 January 2017", "")
        %li
          = link_to("Cross-Government Prosperity Fund Programme", "")
        %li
          = link_to("Overseas Business Risk - Cayman Islands", "")
        %li
          = link_to("UK food and drink: international action plan 2016 to 2020", "")
        %li
          = link_to("White paper of Bank of China on cross-border e-commerce service", "")
        %li
          = link_to("Open general export licence (exports in support of Turkish Aerospace Industries TF-X Programme)", "")
    .column-quarter
      %h2.heading-medium
        Regions
      %hr{:class => 'rule-footer'}
      %ul
        %li
          = link_to("Europe", "")
        %li
          = link_to("North America", "")
        %li
          = link_to("South America", "")
        %li
          = link_to("Africa", "")
        %li
          = link_to("Asia", "")
        %li
          = link_to("Australia", "")
  %hr{:class => 'rule-footer'}

- content_for :footer_support_links do
  %ul
    %li
      = link_to("Help", "")
    %li
      = link_to("Contact", "")

= render file: 'layouts/govuk_template'
