- content_for :body_start do
  = render partial: "widgets/notifications"

- content_for :page_title, "Digital Workspace"

- content_for :homepage_url do
  = '/'

- content_for :head do

  = stylesheet_link_tag "application", media: "all"
  = csrf_meta_tag

- content_for :header_class do
  = "with-proposition"

- content_for :proposition_header do
  %ul.mobile-header
    - if !@people_finder_profile.nil?
      %li
        = link_to "Account", @people_finder_profile.profile_url, class: "mobile-account-button"
    %li
      = link_to "Search", '/search', class: "mobile-search-button"
  .header-proposition
    .content
      = link_to "Digital Workspace", root_path, id: "proposition-name"

    = render partial: "widgets/nav"

    .search
      %form{:action => "/search", :method => "get", :role => "search"}
        .proposition-search.govuk-search
          %label.search-label
            Search site
          .search-wrapper
            %input{:type => 'search', :title => 'Search Workspace', :name => 's', :id => 'site-search', :class => 'search-element search-input js-class-toggle'}
            .search-element.search-submit-wrapper
              %button{:type => 'submit', :class => 'search-submit'}
                Search

- content_for :body_end do
  = javascript_include_tag 'application'

- content_for :footer_top do

- content_for :footer_support_links do
  - @footer_menu_content = footer_menu_content
    %ul.list-style-a
      - if !@footer_menu_content.nil?
        - @footer_menu_content.each do |menu_link|
          %li
            = link_to(menu_link['menu_item']['title'], menu_link['menu_item']['url'], target: menu_link['menu_item']['target'])
    .acknowledgements
      %p
        = "Built by the #{link_to('DIT Digital', '#')} team".html_safe

= render file: 'layouts/govuk_template'
